* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3347B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    height: 40px;
}

.btn-sair {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.btn-sair:hover {
    transform: scale(1.05);
}


main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.intro-text h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 30px;
}

.intro-text span {
    color: #3347B0;
    font-weight: bold;
}

.devices-img {
    width: 100%;
    max-width: 350px;
}

.estudante img {
    height: 400px;
}

.cursos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card img {
    width: 250px;
    transition: transform 0.2s;
}

.card img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #3347B0;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.redes-sociais {
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
}